// Experience
#experience {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: start;
  height: 100vh;
  margin-left: 230px;
  max-width: 1150px;
  h4 {
    margin-top: 50px;
  }
  h6 {
    a {
      color: $grey;
    }
    span {
      font-size: 16px;
      float: right;
      color: $main-blue;
    }
  }
}