// Imports
@import '../mixins';

// Social Icons
.fa.social-icon {
    font-size: 30px;
    padding: 16px;
    color: $white;
    background-color: $main-bg;
    border-radius: 100%;
    width: 70px;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    @include transition(all linear 0.3s);
    &:hover {
        color: $main-blue;
    }
}